.nav {
    border: solid 2px #00f;
}

.nav__container {}

.nav__head {}

.nav__body {}

.nav__foot {}

.nav__list {
    text-align: center;
}

.nav__item {
    display: inline-block;
}

.nav__item a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

.nav__item a.active {
    color: #fff;
    background-color: #00f;
}