.app,
.app__container {
    display: block;
}

.app {
    height: 100%;
    padding: 10px;
    border: solid 5px #0ff;
    background-color: #333;
}

.app__container {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}