/* RESET */

html,
body {
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


/* APP */

.app,
.app__container {
    display: block;
}

.app {
    background-color: #ddd;
    height: 100%;
    border: solid 3px #c00;
    padding: 5px 10px;
}

.app__container {
    background-color: #fff;
    margin-bottom: 5px;
}