.profile,
.profile__container {
    display: block;
}

.profile {
    border: solid 2px #0c0;
    padding: 5px;
}

.profile__container {
    min-height: 30px;
    background-color: #ddd;
    margin-bottom: 5px;
}