.main {
    border: solid 2px #c00;
}

.main__container {
    font-size: 18px;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 10px;
}

.main__head {}

.main__body {}

.main__foot {}